* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(img/Univalle1.jpg);
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: rgb(133, 66, 113);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(216, 92, 92, 0.1);
}

.login-box {
    width: 100%;
}

.logo {
    display: block;
    margin: 0 auto 20px;
    width: 80px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #fffafa;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #794646;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: top 0.3s, font-size 0.3s, color 0.3s;
}

.input-box input:focus + label,
.input-box input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 12px;
    color: #333;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.options a {
    text-decoration: none;
    color: #333;
}

.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #7c7c7c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #555;
}

.social-login {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.social-login button {
    width: 48%;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.google-btn {
    background-color: #4285F4;
    color: white;
}

.facebook-btn {
    background-color: #3b5998;
    color: white;
}

.social-login button:hover {
    opacity: 0.8;
}

p {
    text-align: center;
    margin-top: 20px;
}

p a {
    color: #f3dbdb;
    text-decoration: none;
}

.form-container {
    background-color: rgb(116, 66, 66);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(182, 146, 146, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.project-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
}

.project-item.selected {
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.project-item:hover {
    background-color: #f8f9fa;
}

.submit-btn, .back-btn {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.submit-btn {
    background-color: #efe2e2;
    color: white;
}

.submit-btn:hover {
    background-color: #555;
}

.back-btn {
    background-color: #333;
    color: white;
}

.back-btn:hover {
    background-color: #555;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.modal.hidden {
    display: none;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  

  
  .container-form {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;
  }
  
  .information {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #81284B;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .info-childs {
    width: 100%;
    padding: 0 30px;
  }
  
  .info-childs h2 {
    font-size: 2.5rem;
    color: #f4e7e7;
  }
  
  .info-childs p {
    margin: 15px 0 ;
    color: #ffffff;
  }
  
  .info-childs input {
    background-color: transparent;
    outline: none;
    border: solid 2px #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color .3s ease;
  }
  
  .info-childs input:hover {
    background-color: #81284B;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
  .form-information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .form-information-childs {
    padding: 0 30px;
  }
  
  .form-information-childs h2 {
    color: #81284B;
    font-size: 2rem;
  }
  
  .form-information-childs p {
    color: #555;
  }
  
  .icons {
    margin: 15px 0;
  }
  
  .icons i {
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #81284B;
    border: solid thin #81284B;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
  .icons i:hover {
    background-color: #81284B;
    color: #fff;
  }
  
  .form {
    margin: 30px 0 0 0;
  }
  
  .form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
  .form label input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
  }
  
  .form label i {
    color: #a7a7a7;
  }
  
  .form input[type="submit"] {
    background-color: #926c7b;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
  .form input[type="submit"]:hover {
    background-color: #81284B;
  }
  
  .hide {
    position: absolute;
    transform: translateY(-300%);
  }
  
  .form div .alerta {
    width: 290px;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 10px;
    font-size: .8rem;
  }
  
  .form > .alerta-error,
  .form > .alerta-exito {
    display: none;
  }
  
  .form .alertaError {
    display: block;
    background-color: #F66060;
    padding: .5rem 1rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: .8rem;
  }
  
  .form .alertaExito {
    display: block;
    background-color: #0ca828;
    padding: .5rem 1rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: .8rem;
  }
  
  .form .error {
    outline: solid 2px #9d2222;
  }
  
  /*RESPONSIVE FORM*/
  
  @media screen and (max-width:750px) {
    html {
      font-size: 12px;
    }
  }
  
  @media screen and (max-width:580px) {
    html {
      font-size: 15px;
    }
  
    .container-form {
      height: auto;
      flex-direction: column;
    }
  
    .information {
      width: 100%;
      padding: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0;
    }
  
    .form-information {
      width: 100%;
      padding: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 0;
    }
  }
  